<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Student Form</title>
	</head>
	<body>
		<form th:action="@{/processStudentForm}" th:object="${student}" method="post">
			First Name: <input type="text" th:field="*{firstName}"/>
			<br><br>
			Last Name: <input type="text" th:field="*{lastName}"/>
			<br><br>
			Country:
			<select th:field="*{country}">
				<option th:each="tempCountry:${countries}" th:value="${tempCountry}" th:text="${tempCountry}"/>
			</select>
			<br><br>
			<input type="radio" th:field="*{favoriteLanguage}" th:value="Go">Go</input>
			<input type="radio" th:field="*{favoriteLanguage}" th:value="Java">Java</input>
			<input type="radio" th:field="*{favoriteLanguage}" th:value="Python">Python</input>
			<br><br>
			<input type="submit" value="Submit"/>
		</form>
	</body>
</html>